.education {
  padding: 30px;
}

.education-heading {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
}

.education-body {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  box-shadow: 1px 2px 2px 1px rgb(238, 234, 234);
  border: 1px solid rgb(238, 234, 234);
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    aqua,
    pink,
    rgb(240, 190, 240)
  );
}

.card-title {
  text-align: center;
  font-size: 30px;
  padding: 0px 5px;
  font-weight: 700;
  color: rgb(187, 32, 248);
}

.card-body {
  display: none;
}

.card:hover {
  padding: 0px;
  justify-content: normal;
  align-items: center;
  box-shadow: 1px 2px 2px 1px rgb(207, 206, 206);
  border: 1px solid rgb(221, 214, 214);
  background-image: linear-gradient(white, rgb(216, 212, 212));
  max-width: 240px;
  max-height: 240px;
  min-width: 240px;
  min-height: 240px;
  transform: scale(1.05);
}

.card:hover > .card-body {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.card:hover > .card-title {
  font-size: 22px;
  font-weight: 500;
  background-color: rgb(187, 32, 248);
  color: white;
  justify-content: center;
  width: 97%;
}
